<ion-view title="Account">
<ion-nav-buttons side="left">
<site-header back="back">
</site-header>
</ion-nav-buttons>
p
<ion-nav-buttons side="right">
<button class="button button-icon button-clear ion-ios-gear-outline" ng-click="showRightMenu()">
</button>
</ion-nav-buttons>
<ion-content class="has-header">

<ion-nav-back-button class="button-icon ion-arrow-left-c">
</ion-nav-back-button>
    <div class="row">
      <div class="col col-center text-center " style="margin-top:20px">
        <h1 style="color:blue">Save Points</h1>
        <button class="button button-positive ion-ios-locked">
            1000
          </button>
        <button class="button button-positive ion-ios-cart-outline">
          1000
          </button>
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-key"></i>
        Password Free Key purchase
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-unlocked"></i>
        Exchange yout point with a Password Free Key
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-cart"></i>
        Excange with WEB gift card
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
    </div>
  <div class="text-center">WEB gift service is available only in Japan</div>
  </ion-content>
</ion-view>
