<ion-view view-title="Download">
  <ion-content>
    <div class="row">
      <div class="col col-center col-offset-10 col-80">
        <div class="card">
          <div class="item item-text-wrap text-center">
            <i class="ion-key" style="font-size:500%;"></i><br>
<h1>Enter your password</h1>
           * Password should be at least 6 characters long and nomore then 30 characters long.
          </div>
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Enter your pasword">
        </label>
        <button class="button button-full button-positive ion-ios-cloud-download-outline">
          Download
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
