<ion-view title="Points">

<ion-nav-buttons side="right">
<button class="button button-icon button-clear ion-ios-gear-outline" ng-click="showRightMenu()">
</button>
</ion-nav-buttons>
<ion-nav-view animation="slide-left-right"></ion-nav-view>
  <ion-content>
    <div class="row">
      <div class="col col-center text-center " style="margin-top:20px">
        <h1 style="color:blue">Save Points</h1>
        <button class="button button-positive " style="">
          <i class="ion-ios7-locked"  style="font-size:200%;"></i>
            <span  style="font-size:120%;">1000</span>
          </button>
        <button class="button button-positive"style="" >
          <i class="ion-ios7-cart"  style="font-size:200%;"></i>
          <span  style="font-size:120%;">1000</span>
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>
