<ion-tabs class="tabs-icon-top tabs-positive">
       <ion-tab title="Home" icon="ion-ios-home-outline" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="Download" icon="ion-ios-cloud-download-outline"  href="#/tab/downloads">
  <ion-nav-view name="downloads-tab"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Upload" icon="ion-ios-cloud-upload-outline"  href="#/tab/uploads">
  <ion-nav-view name="uploads-tab"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Folder" icon="ion-ios-folder-outline" href="#/tab/folder">
  <ion-nav-view name="folder-tab"></ion-nav-view>
  </ion-tab>

  <!-- Point Tab -->
  <ion-tab title="Point" icon="ion-social-usd-outline"  href="#/tab/points">
  <ion-nav-view name="points-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

